$color-lightgreen: #60c44e;
$color-mediumgreen: #55c57a;
$color-darkgreen: #28b485;
$color-text: #777;
$color-white: #ffffff;
$color-black: #000;
$color-lightgray-1: #f7f7f7;
$color-lightgray-2: #eee;
$color-darkgray: #999;

$color-darkgray-2 : #333;

$color-card1front1: #ffb900;
$color-card1front2: #ff7730;

$color-card2front1: #2998ff;
$color-card2front2: #5643fa;


//FONT-SIZES
$default-font-size : 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal-small: 6rem;